<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - BitBucket PowerToy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RVV4W6R5QP"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-RVV4W6R5QP');
        </script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                      <div class="level-item">
                        <h1 class="title">BitBucket PowerToy</h1>
                      </div>
                    </div>
                  
                    <!-- Right side -->
                    <div class="level-right">
                        {% if session['username'] %}
                            <div class="level-item">
                                <a class="button {% if what == 'open' %}is-active{% endif %}" href="{{ url_for('index', what='open') }}">New + Open</a>
                            </div>

                            <div class="level-item">
                                <a class="button {% if what == 'hold' %}is-active{% endif %}" href="{{ url_for('index', what='hold') }}">On Hold</a>
                            </div>

                            <div class="level-item">
                                <a class="button {% if what == 'resolved' %}is-active{% endif %}" href="{{ url_for('index', what='resolved') }}">Resolved</a>
                            </div>

                            <div class="level-item">
                                <span>{{ session['username'] }}</span>
                            </div>

                            <div class="level-item">
                                <a class="button" href="{{ url_for('logout') }}">Log Out</a>
                            </div>
                        {% endif %}
                    </div>
                </nav>

                <section class="content">
                    <header>
                        {% block header %}{% endblock %}
                    </header>

                    {% for message in get_flashed_messages() %}
                        <article class="message">
                            <div class="message-body">
                                {{ message }}
                            </div>
                        </article>
                    {% endfor %}

                    {% block content %}{% endblock %}
                </section>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">       
                <p>A way of displaying all your issues across several BitBuckets' repos.</p>
                <p><a href="https://skoula.cz">skoula.cz</a> | <a href="https://github.com/MichalSkoula/bitbucket-powertoy">GitHub</a></p>

            </div>
        </footer>
        <script src="{{ url_for('static', filename='sort-table.min.js') }}"></script>
    </body>
</html>
