{% extends 'base.html' %}

{% block title %}Issues{% endblock %}

{% block content %}

<h2>Issues</h2>

<table class="table js-sort-table mb-5 is-hoverable" id="issues-table">
	<thead>
		<th>Issues ({{ issues_count }}{% if session['critical'] %} <span class="has-text-grey">Only critical+</span>{% endif %})</th>
		<th>ID</th>
		<th>Priority</th>
		<th>Repo</th>
		<th>Created on</th>
		<th>Updated</th>
	</thead>
	<tbody>
		{% for repo in repositories %}
		{% for issue in repo['open_issues'] %}
		<tr>

			<td><a href="{{ issue['links']['html']['href'] }}">{{ issue['title'] }}</a></td>
			<td>{{ issue['id'] }}</td>
			<td>
				<div class="columns">
					<div class="column is-one-quarter has-text-right">
						<img width="24" height="24"
							src="{{ url_for('static', filename='images/' + issue['priority'] + '.svg') }}" />
					</div>
					<div class="column">{{ issue['priority'] }}</div>
				</div>
			</td>
			<td>
				<div class="columns">
					<div class="column is-one-quarter">
						<img width="24" height="24" class="image is-24x24" src="{{ repo['links']['avatar']['href'] }}">
					</div>
					<div class="column">
						<a target="_blank"
							href="{{ repo['links']['html']['href'] }}/issues?status=new&status=open&status=submitted&is_spam=!spam&sort=-updated_on">{{
							repo['slug'] }}</a>
					</div>
				</div>
			</td>
			<td>{{ issue['created_on']|format_datetime }}</td>
			<td>{{ issue['updated_on']|format_datetime }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
</table>

<button id="toggle-button" class="button is-small is-pulled-right">Show / Hide Additional Stats</button>

<div id="additional-tables" class="is-hidden columns mt-5">
	<div class="column">
		<h3>Issues count by user</h3>
		<table class="table is-narrow is-hoverable">
			<tr>
				<th>User ID</th>
				<th>Issue Count</th>
			</tr>
			{% for user_id, issue_count in user_issue_count.items() %}
			<tr>
				<td>{{ user_id }}</td>
				<td>{{ issue_count }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="column">
		<h3>Repositories with issues</h3>
		<table class="table is-narrow is-hoverable">
			<tr>
				<th>Repository</th>
				<th>Issue Count</th>
			</tr>
			{% for repo_name, issue_count in repositories_with_issues.items() %}
			<tr>
				<td>{{ repo_name }}</td>
				<td>{{ issue_count }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
